/.idea/sonarlint/issuestore/0/b/0b889dbcaf33539ac3402267a6ed7706f3f0c230
/.idea/sonarlint/issuestore/e/8/e8f1d2aea3cbb729ba0e56808e5eac43105720b2
/.idea/sonarlint/issuestore/e/5/e56ab5eb073da3e3e8a2588502e64ee1ba911631
/.idea/sonarlint/issuestore/e/3/e339b5f1a3c362b6c24920e16a1baf8ee4f7e2bf
/target/sonar/report-task.txt
/.idea/sonarlint/issuestore/index.pb
/src/main/java/com/ejercicios/persona/EjecutableP.java
/target/classes/com/ejercicios/persona/EjecutableP.class
